@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Crimson Text', serif;

  color: #222;
}


*, *::before, *::after {
  box-sizing: inherit;
}
article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
}

article header {
  border-bottom: 1px solid #999;
  line-height: 1rem;
  padding-bottom: 1rem;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
}

article p {
  padding-top: 1rem;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 130%;
}

.quote {
  color: #999;
}

@media only screen and (min-width: 90em) {

  body {
    margin-top: 1rem;
    font-size: 135%;
    float: left;
    position: relative;
    left: 20%;
    line-height: 1.5;
  }

  header h1 {
    margin-bottom: 0;
  }

  header p {
    padding-top: 0;
    padding-bottom: 1rem;
  }

  article p {
    padding-top: 1.5rem;
  }
}


@media only screen and (min-width: 60em) {

  body {
    font-size: 120%;
    float: left;
    position: relative;
    left: 10%;
    line-height: 1.5;
  }

  header h1 {
    margin-top: 2.125rem;
    margin-bottom: 0;
  }

  header p {
    margin-top: 0;
  }

  article p {
    padding-top: .85rem;
  }

  blockquote {
    font-size: 120%;
  }
}
