@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: 'Crimson Text', serif;

  color: #222;
}


*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin-top: 1rem;
  font-size: 130%;
  float: left;
  position: relative;
  left: 20%;
  line-height: 1.5;
}

article {
  max-width: 43em;
}

article h1 {
  font-weight: normal;
}

article header {
  border-bottom: 1px solid #999;
  line-height: 1rem;
}

article header p {
  font-style: italic;
}

article > p:last-child {
  border-bottom: 1px solid #999;
}

article > p:first-child {
  margin: 4em;
}

blockquote {
  max-width: 24em;
  color: #555;
  font-size: 130%;
}

.quote {
  color: #999;
}

@media only screen and (min-width: 60em) {

  body {
    font-size: 130%;
    float: left;
    position: relative;
    left: 20%;
    line-height: 1.5;
}
